# Airflow
AIRFLOW__CORE__FERNET_KEY=your_fernet_key_here
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=your_password_here
AIRFLOW_ADMIN_EMAIL=your_email@example.com

# Path to sg-air-quality-etl on your local machine
ETL_PROJECT_PATH=/absolute/path/to/sg-air-quality-etl